<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719066360521-gbffecbr1nant9c77megneiqr3smertj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719066360521-gbffecbr1nant9c77megneiqr3smertj</string>
	<key>API_KEY</key>
	<string>AIzaSyDInFvGpo3symfk4m92a57MojikjhYGYRo</string>
	<key>GCM_SENDER_ID</key>
	<string>719066360521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rossmcilwaine.BevChat</string>
	<key>PROJECT_ID</key>
	<string>project-3752363635583710819</string>
	<key>STORAGE_BUCKET</key>
	<string>project-3752363635583710819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719066360521:ios:d2486278ae0b3c81</string>
	<key>DATABASE_URL</key>
	<string>https://project-3752363635583710819.firebaseio.com</string>
</dict>
</plist>